body {
    background-image: url("https://cdna.artstation.com/p/assets/images/images/024/507/476/large/leaf-art-subg2.jpg?1582651786");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

